## Writing JSON with Python

In [1]:
#Import the library and open the file you will write to. You also create the Faker object:
from faker import Faker
import json
fake=Faker()

In [2]:
# We will create 1,000 records, so you will need to create a dictionary to hold the data
alldata={}
alldata['records']=[]

In [3]:
# To write the records, you use Faker to create a dictionary, then append it to the array:
for x in range(1000):
    data={"name":fake.name(),
          "age":fake.random_int(min=18, max=80, step=1),
          "street":fake.street_address(),
          "city":fake.city(),
          "state":fake.state(),
          "zip":fake.zipcode(),
          "lng":float(fake.longitude()),
          "lat":float(fake.latitude())}
    alldata['records'].append(data)

In [4]:
with open('data.json', 'w') as fp:
    json.dump(alldata, fp)

In [5]:
with open("data.json","r") as f:
    data=json.load(f)
    print(data['records'][0])

{'name': 'John Robinson', 'age': 36, 'street': '30173 Stevenson Square', 'city': 'North Michael', 'state': 'Missouri', 'zip': '02453', 'lng': 143.456425, 'lat': -24.6794825}

# Creating Pandas dataframe with JSON

In [ ]:
#If you have a clean, well-formatted JSON file, you can read it using the following code:
df=pd.read_json('data.JSON')

In [6]:
#import the pandas JSON library
import pandas.io.json as pd_JSON

In [7]:
#Open the file and load it with the pandas version of JSON.loads():
f=open('data.json','r')

In [8]:
data=pd_JSON.loads(f.read())

In [9]:
#Creating dataframes: To create the DataFrame, you need to normalize the JSON
df=pd_JSON.json_normalize(data,record_path='records')
df

/var/folders/j1/xfq7q3l95_x40z_ld8jl19dm0000gn/T/ipykernel_1960/2213182809.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df=pd_JSON.json_normalize(data,record_path='records')

,name,age,street,city,state,zip,lng,lat
0,John Robinson,36,30173 Stevenson Square,North Michael,Missouri,02453,143.456425,-24.679482
1,Cathy Freeman,77,95981 Hudson Ridges,Port Amyfurt,Massachusetts,05944,-37.902682,13.407435
2,Kyle Johnson,63,96710 Morgan Lakes,Austinview,West Virginia,36070,130.056254,-52.288516
3,Melissa Jones,34,4521 David Coves,Melissaside,Maine,18673,76.584807,15.315103
4,Hannah Kramer,20,8162 Matthew Brook Suite 416,Lake Christopherport,Maryland,52212,-137.090638,73.702260
...,...,...,...,...,...,...,...,...
995,Sonya Schmidt,67,37788 Michael Pike Apt. 816,Port Jessicaport,Colorado,93671,-32.341865,84.537208
996,Victoria Smith,34,604 Rhonda Highway,North Kevin,Wyoming,71255,-14.753430,74.757515
997,Erica Munoz,66,943 Mcmillan Unions Apt. 182,Port Tamara,Tennessee,51011,-59.309077,-11.808848
998,Barbara Miller,36,34149 Nash Flat Apt. 227,Greerborough,Kentucky,37042,-116.343782,-18.621461
999,David Anderson,58,8182 Brown Fords,Lake Sharon,Montana,83274,-101.368320,69.522854

In [10]:
#When writing to JSON, you can pass the orient parameter, which determines the format of the JSON that is returned.
df.head(2).to_json()

'{"name":{"0":"John Robinson","1":"Cathy Freeman"},"age":{"0":36,"1":77},"street":{"0":"30173 Stevenson Square","1":"95981 Hudson Ridges"},"city":{"0":"North Michael","1":"Port Amyfurt"},"state":{"0":"Missouri","1":"Massachusetts"},"zip":{"0":"02453","1":"05944"},"lng":{"0":143.456425,"1":-37.902682},"lat":{"0":-24.6794825,"1":13.4074345}}'

In [11]:
#By changing the orient value to records, you get each row as a record in the JSON,as shown:
df.head(2).to_json(orient='records')

'[{"name":"John Robinson","age":36,"street":"30173 Stevenson Square","city":"North Michael","state":"Missouri","zip":"02453","lng":143.456425,"lat":-24.6794825},{"name":"Cathy Freeman","age":77,"street":"95981 Hudson Ridges","city":"Port Amyfurt","state":"Massachusetts","zip":"05944","lng":-37.902682,"lat":13.4074345}]'