In [1]:
import json
import great_expectations as ge

In [2]:
my_df = ge.read_csv("//Users//motolanikay-salami//Desktop//Data Engineering//people.csv")

In [3]:
my_df.head()

,name,age,street,city,state,zip,lng,lat
0,Stacie Campbell,68,61161 Jay Lodge,Michaeltown,North Carolina,54759,24.175850,20.405946
1,Renee Obrien,37,038 Mcguire Fords Apt. 614,North Craigborough,South Carolina,96083,81.820103,-24.113592
2,Thomas Palmer,25,43026 Margaret Trace Suite 063,Ibarrashire,Illinois,17512,52.681232,-72.042518
3,Stephen Ayala,39,397 Short Parkway Suite 553,West Bradleytown,Ohio,55159,-47.858294,58.525459
4,Stuart Kim,48,69342 Thomas Drive Suite 229,West Jamie,Pennsylvania,40298,75.515752,52.696902

In [4]:
my_df.expect_table_column_count_to_equal(value=8)

{
  "result": {
    "observed_value": 8
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [5]:
my_df.expect_table_columns_to_match_ordered_list(
    column_list=["name", "age", "street", "city", "state", "zip", "lng", "lat"]
)

{
  "result": {
    "observed_value": [
      "name",
      "age",
      "street",
      "city",
      "state",
      "zip",
      "lng",
      "lat"
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [6]:
my_df.expect_column_values_to_not_be_null("age")

{
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [7]:
my_df.expect_column_min_to_be_between("age", max_value=19, min_value=17)

{
  "result": {
    "observed_value": 18,
    "element_count": 1000,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [8]:
my_df.expect_column_max_to_be_between("age", max_value=81, min_value=79)

{
  "result": {
    "observed_value": 80,
    "element_count": 1000,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [9]:
my_df.expect_column_mean_to_be_between("age", max_value=51.151, min_value=49.151)

{
  "result": {
    "observed_value": 48.685,
    "element_count": 1000,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "meta": {}
}

In [10]:
my_df.expect_column_median_to_be_between("age", max_value=52.0, min_value=50.0)

{
  "result": {
    "observed_value": 48.0,
    "element_count": 1000,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "meta": {}
}

In [11]:
my_df.get_expectation_suite()

{
  "expectations": [
    {
      "expectation_type": "expect_table_column_count_to_equal",
      "kwargs": {
        "value": 8
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_table_columns_to_match_ordered_list",
      "kwargs": {
        "column_list": [
          "name",
          "age",
          "street",
          "city",
          "state",
          "zip",
          "lng",
          "lat"
        ]
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_not_be_null",
      "kwargs": {
        "column": "age"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_min_to_be_between",
      "kwargs": {
        "column": "age",
        "max_value": 19,
        "min_value": 17
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_max_to_be_between",
      "kwargs": {
        "column": "age",
        "max_value": 81,
        "min_value": 79
      },
      "meta": {}
    }
  ],
  "expectation_suite_name": "default",
  "ge_cloud_id": null,
  "data_asset_type": "Dataset",
  "meta": {
    "great_expectations_version": "0.15.27"
  }
}

In [12]:
import json

with open( "my_expectation_file.json", "w") as my_file:
    my_file.write(
        json.dumps(my_df.get_expectation_suite().to_json_dict())
    )